<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FlappyClone.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AC8EDDA11C17C11A005DECBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC8EDDB91C17C11A005DECBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC8EDDC41C17C11A005DECBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
